*{
    margin: 0;
    padding: 0;
}

input{
    margin: 5px;
    height: 20px;
}

form {
    margin: 10px;
    margin-bottom: 5px;
}

button {
    margin-top: 5px;
    height: 25px;
    width: 50px;
}

#resultado{
    margin-top: 10px;
}